<p><b><sc_element sys_idtf="gender">пол</sc_element></b> – <i><sc_element sys_idtf="immeasurable_parameter">качественный параметр</sc_element></i>, определяющий гендерную принадлежность <i><sc_element sys_idtf="patient">пациента.</sc_element></i></p>