<p><b><sc_element sys_idtf="nrel_complaints">жалобы*</sc_element></b> – <i><sc_element sys_idtf="quasybinary_relation">квазибинарное отношение</sc_element></i>, связывающее <i><sc_element sys_idtf="patient">пациента</sc_element></i> и наблюдаемые у него субъективные симптомы.</p>