<p><b><sc_element sys_idtf="limitative_medical_decision">ограничивающее медицинское заключение</sc_element></b> - <i><sc_element sys_idtf="medical_decision">медицинское заключение</sc_element></i>, на основе которого пациент ограничен в определённых видах деятельности.</p>