<p><b><sc_element sys_idtf="differential_medical_decision">дифференциальное медицинское заключение</sc_element></b> - <i><sc_element sys_idtf="medical_decision">медицинское заключение</sc_element></i>, являющееся результатом дифференциальной диагностики заболеваний и других состояний.</p>