<p><b><sc_element sys_idtf="prohibitive_medical_decision">запрещающее медицинское заключение</sc_element></b> - <i><sc_element sys_idtf="medical_decision">медицинское заключение</sc_element></i>, на основе которого пациент не может быть допущен к определённым видам деятельности.</p>