<p><b><sc_element sys_idtf="functional_medical_decision">функциональное медицинское заключение</sc_element></b> - <i><sc_element sys_idtf="medical_decision">медицинское заключение</sc_element></i>, являющееся результатом диагностики функциональных состояний систем организма.</p>