<p><b><sc_element sys_idtf="prenosological_medical_decision">донозологическое медицинское заключение</sc_element></b> - <i><sc_element sys_idtf="medical_decision">медицинское заключение</sc_element></i>, свидетельствующее о наличии скрытой стадии заболевания.</p>