<p><b><sc_element sys_idtf="interim_medical_decision">промежуточное медицинское заключение</sc_element></b> - <i><sc_element sys_idtf="medical_decision">медицинское заключение</sc_element></i>, полученное системой в результате анализа определённого подмножества входных данных.</p>