<p><b><sc_element sys_idtf="endoecological_medical_decision">эндоэкологическое медицинское заключение</sc_element></b> - <i><sc_element sys_idtf="medical_decision">медицинское заключение</sc_element></i>, являющееся результатом диагностики эндоэкологической системы.</p>