<p><b><sc_element sys_idtf="end_point_medical_decision">конечное медицинское заключение</sc_element></b> - <i><sc_element sys_idtf="medical_decision">медицинское заключение</sc_element></i>, полученное на основе обработки сформированных промежуточных медицинских заключений.</p>