<p><b><sc_element sys_idtf="nosological_medical_decision">нозологическое медицинское заключение</sc_element></b> - <i><sc_element sys_idtf="medical_decision">медицинское заключение</sc_element></i>, свидетельствующее о наличии проявленного заболевания.</p>