<p><b><sc_element sys_idtf="detoxification_system_state">состояние системы детоксикации</sc_element></b> - <i><sc_element sys_idtf="class">класс</sc_element></i> всевозможных состояний системы детоксикации организма.</p>