<p><b><sc_element sys_idtf="parasitic_system_state">состояние паразитарной системы</sc_element></b> - <i><sc_element sys_idtf="class">класс</sc_element></i> всевозможных состояний паразитарной системы.</p>