<p><b><sc_element sys_idtf="digestive_system_state">состояние системы пищеварения</sc_element></b> - <i><sc_element sys_idtf="class">класс</sc_element></i> всевозможных состояний органов желудочно-кишечного тракта.</p>