<p><b><sc_element sys_idtf="cardiovascular_system_state">состояние сердечно-сосудистой системы</sc_element></b> - <i><sc_element sys_idtf="class">класс</sc_element></i> всевозможных состояний сердечно-сосудистой системы.</p>